{
	"singleQuote": true,
	"tabWidth": 2,
	"semi": true,
	"trailingComma": "none",
	"useTabs": true,
	"quoteProps": "preserve",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": true
}
