h2{
  font-size: 2.5em;
}
p{
  font-size: 1.75em;
}
main {
  width: 90vw;
  margin: auto;
}
.card {
  margin-top: 35px;
}
i{
  font-size: 1em;
  padding-right: 30px;
}
h1{
  font-size: 4em;
  font-family: $primary-font;
  width: 85%;
}