main {
  width: 93vw;
  margin: auto;

  .card {
    margin: 0;
    margin-top: 35px;
    h2 {
      width: 100%;
      font-size: 7vw;
      margin: 0;
      i {
        font-size: 7vw;
        padding-right: 3vw;
      }
    }
    p {
      font-size: 6vw;
    }
  }
}
