.stocks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 100px;

  h1 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h3 {
    text-align: center;
    margin-top: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .assets-container {
    margin: 16px;
  }

  .placeholder-graph {
    width: 100%;
    height: 300px;

    background-color: white;
  }

  .container {
    max-width: none;
    padding: 0px;
  }

  .v-overflow-btn {
    margin-top: 0px;
    background-color: white;
    height: 55px;
    overflow: hidden;
  }
}

.rb {
  border-color: rgba(0, 0, 0, 0.38);
  border-radius: 28px;
}

.symbol-text-input {
  background-color: white;
  height: 32px;
  padding-left: 24px;
}
