.v-card.leaderboard__list-item {
  @include light-unpressed;
  width: 100%;
  margin: 4vh 0;

  &:first-child {
    margin-top: 0;
  }

  .user-info__img-container {
    @include center-content;
    @include light-unpressed;
    border-radius: 50%;
    height: 12vw;
    width: 12vw;

    img {
      position: absolute;
      height: 10vw;
      width: 10vw;
      border-radius: 50%;
    }
  }
}

.row {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.rank {
  position: absolute;
  left: 5px;
  top: 5px;
}
