.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 12vh auto;
  width: 100%;
}
h2 {
  margin: 20px;
}
.spinner-container {
  margin: 'auto';
}
#delete-portfolio {
  margin-top: 50px;
}
.arc > path:hover {
  filter: brightness(80%) !important;
  pointer-events: all;
}
#portfolioValue {
  font-size: 2em;
}

#pieStockInfo {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  p {
    padding: 0;
    margin: 0;
  }
}

.tick {
  font-family: $primary-font;
  font-size: 2em;
}

.tick > line {
  stroke: lightgrey;
  stroke-opacity: 0.5;
}

.axis-label {
  font-family: $primary-font;
  fill: currentColor;
}

text {
  pointer-events: none;
  font-family: $primary-font;
}

.v-card.ranking-card {
  width: 90%;
  margin: auto;

  .ranking-card__info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .ranking-card__stats {
      font-size: 5vw;
      width: 40vw;
    }

    .ranking-card__gauge {
      width: 30vw;
    }
  }
}
