.assets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 16px;
  margin-bottom: 100px;

  hr.break {
    @include light-unpressed;
    border: 0;
    height: 3vw;
    width: 100%;
    margin: 2vh 0;
  }

  .transaction-form {
    width: 100%;

    button.v-btn {
      height: 7vh;
      margin: 3.5vh 0 0 0 !important;
    }

    .transaction-form__portfolio-select {
      width: 100%;
      margin: auto;
    }

    .transaction-form__price-type {
      width: 100%;
      margin: 0;

      > .col {
        margin: 0;
        padding: 0;

        > .v-select {
          height: 10vh;
        }

        &:first-child {
          padding-right: 1vw;
        }
        &:last-child {
          padding-left: 1vw;
        }
      }
    }
  }

  .back-btn-container {
    @include light-unpressed;
    @include center-content;
    border-radius: 2vw;
    padding: 3vw;
    width: 15vw;
    height: 12vw;
    margin-bottom: 2vh;
  }

  .symbol-text-input {
    @include light-pressed;
    background-color: white;
    height: 5vh;
    font-family: $primary-font;
    color: grey;
    text-shadow: none;
    padding: 0 2vw;
    width: 100%;
  }

  h3.asset-title {
    margin-bottom: 1vh;
    margin-top: 2vh;
  }

  h1 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .placeholder-graph {
    width: 100%;
    height: 300px;

    background-color: white;
  }

  .container {
    max-width: none;
    padding: 0px;
  }

  .v-overflow-btn {
    margin-top: 0px;
    background-color: white;
    height: 55px;
    overflow: hidden;
  }

  &--dark {
    hr.break {
      @include dark-unpressed;
    }

    .back-btn-container {
      @include dark-unpressed;
      @include center-content;
    }

    .symbol-text-input {
      @include dark-pressed;
      background-color: $dark-bg;
    }
  }
}

.rb {
  border-color: rgba(0, 0, 0, 0.38);
  border-radius: 28px;
}
