.assets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  margin: 4vh auto 3vh auto;

  hr.break {
    @include light-unpressed;
    border: 0;
    height: 2vh;
    width: 100%;
    margin: 2vh 0;
  }

  .asset-list {
    @include light-pressed;

    &__item {
      margin: 3vw 3vw;

      @include light-unpressed;
      &:first-child {
        margin-top: 1vh;
      }

      &:last-child {
        margin-bottom: 1vh;
      }
    }
  }

  .transaction-form {
    width: 100%;

    button.v-btn {
    }

    .transaction-form__portfolio-select {
      width: 100%;
      padding: 0;
    }

    .transaction-form__price-type {
      width: 100%;
      margin: 0;
      padding: 0;

      > .col {
        margin: 0;
        padding: 0;

        &:first-child {
          padding-right: 1vw;
        }
        &:last-child {
          padding-left: 1vw;
        }
      }
    }
  }

  .back-btn {
    @include light-unpressed;
    @include center-content;
    border-radius: 2vw;
    padding: 2vw;
    width: 10vw;
    height: 5vh;
    margin-bottom: 2vh;
  }

  .symbol-text-input {
    @include light-pressed;
    background-color: white;
    height: 5vh;
    font-family: $primary-font;
    color: grey;
    text-shadow: none;
    padding: 0 2vw;
    width: 100%;
  }

  h3.asset-title {
    margin-bottom: 1vh;
    margin-top: 2vh;
  }

  h1 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .placeholder-graph {
    width: 100%;
    height: 300px;
    background-color: white;
  }

  .container {
    max-width: none;
    padding: 0px;
  }

  .v-overflow-btn {
    margin-top: 0px;
    background-color: white;
    height: 55px;
    overflow: hidden;
  }

  .asset-list.theme--dark {
    @include dark-pressed;

    &__item {
      margin: 3vw 3vw;
      @include dark-unpressed;
      &:first-child {
        margin-top: 1vh;
      }

      &:last-child {
        margin-bottom: 1vh;
      }
    }
  }

  &--dark {
    hr.break {
      @include dark-unpressed;
    }

    .asset-list,
    .asset-list.theme--dark {
      @include dark-pressed;

      &__item {
        margin: 3vw 3vw;
        @include dark-unpressed;
        &:first-child {
          margin-top: 1vh;
        }

        &:last-child {
          margin-bottom: 1vh;
        }
      }
    }

    .back-btn {
      @include dark-unpressed;
      @include center-content;
    }

    .symbol-text-input {
      @include dark-pressed;
      background-color: $dark-bg;
    }
  }
}

.rb {
  border-color: rgba(0, 0, 0, 0.38);
  border-radius: 28px;
}

.spinner-container {
  margin: 'auto';
}
