.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;

  h2 {
    margin: 4vw 0 4vw 5vw;
    align-self: flex-start;
  }

  h3 {
    margin: 4vw 0;
    text-align: center;
  }

  hr {
    @include light-unpressed;
    border: 0;
    height: 12px;
    width: 90vw;
    margin: auto;
  }

  .v-list {
    width: 90%;
    background-color: inherit;
  }
}
