.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 0;
  margin-left: 0;

  h2 {
    margin: 4vw 0 1vw 5vw;
    align-self: flex-start;
  }

  h3 {
    margin: 4vw 0 1vw 0;
    text-align: center;
    font-size: 6vw;
  }

  hr.break {
    @include light-unpressed;
    border: 0;
    height: 3vw;
    width: 90vw;
  }

  .v-list {
    width: 90vw;
    background-color: inherit;
  }

  &.leaderboard-container--dark {
    h2 {
      margin: 4vw 0 1vw 5vw;
      align-self: flex-start;
    }

    h3 {
      margin: 4vw 0 1vw 0;
      text-align: center;
    }

    hr.break {
      @include dark-unpressed;
      border: 0;
      height: 3vw;
      width: 90vw;
      margin: auto;
    }

    .v-list {
      width: 90vw;
      background-color: inherit;
    }
  }
}
