.leaderboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;

  h2 {
    margin: 4vh 0 1vh 5vw;
    align-self: flex-start;
    font-size: 4vh;
  }

  h3 {
    margin: 2vh 0 1vh 5vw;
    align-self: flex-start;
  }

  hr.break {
    @include light-unpressed;
    border: 0;
    height: 2vh;
    width: 90vw;
  }

  .v-list {
    width: 90vw;
    background-color: inherit;
  }

  &--dark {
    hr.break {
      @include dark-unpressed;
      border: 0;
      height: 3vw;
      width: 90vw;
      margin: auto;
    }
  }
}
