.info-slider-card {
  height: 76vh;

  .slide-phone-container {
    @include center-content;

    height: 36vh;

    .phone-img {
      padding-top: 2vh;
      max-height: 34vh;
    }
  }

  .slide-text-container {
    @include center-content;
    height: 28vh;
    flex-direction: column;
    padding: 4vh 4vw;
    padding-top: 0;
    text-align: center;

    h2 {
      font-size: 20px;
      width: 100%;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }
  div.v-card__actions.slide-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
  }
}
