.row{
  margin-left:20px;
  margin-right:20px;
  padding: 40px;
}
.v-image{
  // margin-top:20px;
  margin-bottom:20px;
}
p{
  color: white !important;
  text-shadow: none !important;
  font-family: $primary-font !important;
}
h2{
  font-family: $primary-font !important;
  text-shadow: none !important;
  color: white !important;
  margin-bottom: 20px !important;
}
