// Neumorphic effect, unpressed button in light mode
@mixin light-unpressed {
  background: $light-bg;
  box-shadow: -5px 5px 10px $light-neu-shadow-color,
    5px -5px 10px $light-neu-bright-color;
  color: $light-bg-secondary-text-color;
  text-shadow: 1px 1px 1px $light-text-shadow-color;
}

// Neumorphic effect, pressed button in light mode
@mixin light-pressed {
  background: $light-bg;
  box-shadow: inset -5px 5px 10px $light-neu-shadow-color,
    inset 5px -5px 10px $light-neu-bright-color;
  color: $light-bg-primary-text-color;
  text-shadow: 1px 1px 1px $light-text-shadow-color;
}

// Neumorphic effect, unpressed button in dark mode
@mixin dark-unpressed {
  background: $dark-bg;
  box-shadow: -5px 5px 10px $dark-neu-shadow-color,
    5px -5px 10px $dark-neu-bright-color;
  color: $dark-bg-secondary-text-color;
  text-shadow: 1px 1px 1px $dark-text-shadow-color;
}

// Neumorphic effect, pressed button in dark mode
@mixin dark-pressed {
  background: $dark-bg;
  box-shadow: inset -5px 5px 10px $dark-neu-shadow-color,
    inset 5px -5px 10px $dark-neu-bright-color;
  color: $dark-bg-primary-text-color;
  text-shadow: 1px 1px 1px $dark-text-shadow-color;
}

// Center child elements => <div><div>This div will be centered vertically and horizontally</div></div>
@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
