$light-bg: #f3f3f3;
$light-bg-primary-text: #2a2a2a;
$light-bg-secondary-text: #4a4a4a;

$dark-bg: #2a2a2a;
$dark-bg-primary-text: #f3f3f3;
$dark-bg-secondary-text: #c3c3c3;

$profit-color: #75ff83;
$loss-color: #ff073a;
