.liquid-gauge {
  border-radius: 50%;

  background: $light-bg;
  box-shadow: -5px 5px 10px rgba(143, 255, 149, 0.548),
    5px -5px 10px rgba(143, 255, 149, 0.548);

  &--dark {
    background: $dark-bg;
  }
}
