.liquid-gauge {
  border-radius: 50%;

  background: $light-bg;
  box-shadow: -10px 10px 20px rgba(143, 255, 149, 0.548),
    10px -10px 20px rgb(196, 243, 199);
  color: rgb(110, 194, 114);

  &--dark {
    @include dark-unpressed;
  }
}
